<nav id="o-main-navigation" class="o-main-navigation">
	<div class="o-main-navigation__wrapper">
		<div class="o-main-menu">
			<nav id="site-navigation--main" class="site-navigation--main navbar navbar-expand-md">
				<ul class="navbar-nav mr-auto">
					<li id="nav-item-main-01" class="nav-item">
						<a class="nav-link active" href="#">Home</a>
					</li>

					<li id="nav-item-main-02" class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Elements</a>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="#">Headlines</a>
							<a class="dropdown-item" href="#">Paragraphs</a>
							<a class="dropdown-item" href="#">Buttons</a>
							<a class="dropdown-item" href="#">Forms</a>
							<a class="dropdown-item" href="#">Lists</a>
						</div>
					</li>

					<li id="nav-item-main-03" class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Blogs</a>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="blog-1.html">Blog Style 1</a>
							<a class="dropdown-item" href="blog-2.html">Blog Style 2</a>
							<a class="dropdown-item" href="blog-3.html">Blog Style 3</a>
							<a class="dropdown-item" href="blog-4.html">Blog Style 4</a>
							<a class="dropdown-item" href="blog-5.html">Blog Style 5</a>
							<a class="dropdown-item" href="blog-6.html">Blog Style 6</a>
							<a class="dropdown-item" href="blog-7.html">Blog Style 7</a>
							<a class="dropdown-item" href="blog-8.html">Blog Style 8</a>
							<a class="dropdown-item" href="blog-9.html">Blog Style 9</a>
							<a class="dropdown-item" href="blog-10.html">Blog Style 10</a>
						</div>
					</li>

					<li id="nav-item-main-04" class="nav-item">
						<a class="nav-link" href="#">Typography</a>
					</li>
					<li id="nav-item-main-05" class="nav-item">
						<a class="nav-link" href="#">Elements</a>
					</li>

				</ul>
			</nav>
		</div>
	</div>
</nav><!--main-navigation-->