<div class="o-top-navigation">
	<div class="o-top-navigation__wrapper">
		<div class="o-top-menu">
			<nav id="site-navigation--top" class="site-navigation--top">
				<ul class="nav">
					<li id="nav-item-top-01" class="nav-item">
						<a class="nav-link active" href="#">Profile</a>
					</li>
					<li id="nav-item-top-02" class="nav-item">
						<a class="nav-link" href="#">Portfolio</a>
					</li>
					<li id="nav-item-top-03" class="nav-item">
						<a class="nav-link" href="#">Career</a>
					</li>
					<li id="nav-item-top-04" class="nav-item">
						<a class="nav-link" href="#">Contact</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</div><!--top-navigation-->