/**
 * Header
 * -------------------------------------------------- */

header.site-header {

  /* Overall */
  .o-header-top {
    &__wrapper {
      background-color: $primary;

    }
  }

  .o-header-main {
    &__wrapper {
      background-color: $primary;
    }
  }

  .o-header-bottom {

  }

  &.style-1 {

  }

  &.style-2 {
    width: 100%;
    background: transparent;
    position: absolute;
    z-index: 9;
  }

  &.style-3 {

  }

  &.style-4 {

  }

  &.style-5 {

  }
}