/**
 * Carousel
 * -------------------------------------------------- */

.o-carousel {

  &__wrapper {
    background: url('../../build/images/carousel-bg.jpg');
    color: $white;
  }

  &__inner {
    height: 90vh;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }

  &__logo {
    img {
      max-width: 18.75rem; /*300px*/
    }
  }

  &__title {
    margin-top: 2.75rem;
    h1 {
      font-weight: 700;
    }
  }

  &__sub {
    margin-top: 2.25rem;
    p {
      font-size: 1rem;
      font-weight: 300;
      line-height: 1.75rem;
    }
  }
}