/**
 * Icon Boxes
 * -------------------------------------------------- */

.o-icon-box {

  &__wrapper {
    text-align: center;
  }

  &__block {
    padding: 0 0.5rem;
  }

  figure {
    display: inline-block;
    background-color: $primary;
    height: 5rem; /*80px*/
    width: 5rem; /*80px*/
    position: relative;
    border-radius: 50%;
    margin-bottom: 1.1875rem;

    i {
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      font-size: 2.25rem; /*36px*/
      color: $white;
    }

  }

  &__title {
    margin-bottom: 1.125rem;
  }

  &__summary {

  }
}